@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .inter {
    font-family: "Inter", sans-serif;
  }

  body {
    font-family: "Open Sans", sans-serif;
  }
}

@layer components {
  .my-h-screen {
    @apply h-[calc(100vh-3.5rem)];
  }

  .nav-link {
    @apply px-3 py-2 hover:bg-black/10 transition-all;
  }

  .navbar-container .nav-link {
    @apply px-5 rounded-full;
  }

  .nav-active {
    @apply bg-black text-white rounded-full px-4 py-2 hover:bg-black hover:cursor-auto;
  }

  .banner-link {
    @apply bg-white/60 hover:bg-white/100 transition-all px-4 py-2 sm:px-6 sm:py-3 rounded-full;
  }

  .catalog-item {
    cursor:
      url(./assets/icon/drag.svg) 30 30,
      auto;
    @apply aspect-[9/16] xl:aspect-[3/4] mx-1 rounded-lg;
  }

  .catalog-item .text {
    @apply px-8 md:px-6 py-2 bg-black/70 rounded-full text-white text-center md:text-xs lg:text-base;
  }

  .xl-porto-container {
    @apply max-w-screen-xl mx-auto hidden xl:block relative aspect-[16/7] w-full;
  }

  .porto-item {
    cursor:
      url(./assets/icon/drag.svg) 30 30,
      auto;
    @apply relative text-white aspect-[4/3] mx-1 rounded-lg overflow-hidden xl:cursor-auto;
  }

  .xl-porto-container .porto-item {
    @apply aspect-auto mx-0;
  }

  .xl-porto-container .porto-item:nth-child(1) {
    @apply absolute left-0 top-0 w-[calc(35%-8px)] h-full;
  }

  .xl-porto-container .porto-item:nth-child(2) {
    @apply absolute top-0 left-[calc(35%+8px)] w-[calc(25%-16px)] h-[calc(40%-8px)];
  }

  .xl-porto-container .porto-item:nth-child(3) {
    @apply absolute bottom-0 left-[calc(35%+8px)] w-[calc(25%-16px)] h-[calc(60%-8px)];
  }

  .xl-porto-container .porto-item:nth-child(4) {
    @apply absolute top-0 left-[calc(60%+8px)] w-[calc(20%-16px)] h-[calc(60%-8px)];
  }

  .xl-porto-container .porto-item:nth-child(5) {
    @apply absolute bottom-0 left-[calc(60%+8px)] w-[calc(20%-16px)] h-[calc(40%-8px)];
  }

  .xl-porto-container .porto-item:nth-child(6) {
    @apply absolute top-0 left-[calc(80%+8px)] w-[calc(20%-8px)] h-full;
  }

  .product-item {
    cursor:
      url(./assets/icon/drag.svg) 30 30,
      auto;
    @apply bg-[#d9d9d9] w-full h-full rounded-lg;
  }

  .star-container img {
    @apply w-6;
  }
}

.carousel .control-dots {
  display: flex;
  justify-content: space-between; /* Space dots evenly */
  width: 100%;
  position: absolute !important;
  bottom: 0px !important; /* Adjust the distance of dots from the bottom */
  pointer-events: all; /* Ensure dots can be interacted with */
}

.carousel .control-dots .dot {
  flex-grow: 1;
  height: 5px;
  margin: 0 !important;
  background-color: #7c7c7c !important;
  border-radius: 0 !important;
  transition: background-color 0.3s ease;
}

.carousel .control-dots .dot.selected {
  background-color: #000 !important;
  border-radius: 10px !important;
}
